# Ignorar pastas de build e dependências
/node_modules
/bin
/obj
bin/
obj/
*.dll
*.pdb

# Ignorar arquivos temporários
*.tmp
*.log
*.cache

# Ignorar arquivos de configuração
*.env
config.json
.json

# Configurações locais
*.dbmdl
*.jfm
.vscode/
*.user
*.suo
*.vs/
.vs/
/CleanArchMvc/CleanArchMvc/App.config
